<h2>Pending / Overdue Items</h2>

{{#if txns.length}}
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Lender</th>
      <th>Borrower</th>
      <th>Borrow Date</th>
      <th>Due Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each txns}}
    <tr class="{{#if this.isOverdue}}overdue{{/if}}">
      <td>{{this.item_id.item_name}}</td>
      <td>{{this.lender_id.name}}</td>
      <td>{{this.borrower_id.name}}</td>
      <td>{{this.borrow_date}}</td>
      <td>{{this.due_date}}</td>
      <td>
        {{#if this.isOverdue}}
          Overdue
        {{else}}
          Pending
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>No pending items.</p>
{{/if}}
