<h2>Edit Person</h2>

<form action="/persons/{{person.person_id}}/edit" method="post" class="form person-form">

  {{#if errors}}
  <div class="form-errors">
    <ul>
      {{#each errors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  <label>
    Name:
    <input type="text" name="name" value="{{formData.name}}{{^formData}}{{person.name}}{{/formData}}" required />
  </label>

  <label>
    Mobile:
    <input type="text" name="mobile" value="{{formData.mobile}}{{^formData}}{{person.mobile}}{{/formData}}" required />
  </label>

  <label>
    Type:
    <select name="type" required>
      <option value="">--Select--</option>
      <option value="L" {{#ifEquals formData.type "L"}}selected{{/ifEquals}} {{#ifEquals person.type "L"}}selected{{/ifEquals}}>Lender</option>
      <option value="B" {{#ifEquals formData.type "B"}}selected{{/ifEquals}} {{#ifEquals person.type "B"}}selected{{/ifEquals}}>Borrower</option>
    </select>
  </label>

  <button class="btn">Save Changes</button>
  <a href="/persons" class="btn">Cancel</a>
</form>
