<h2>All Transactions</h2>

{{#if txns.length}}
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Lender</th>
      <th>Borrower</th>
      <th>Borrow Date</th>
      <th>Due Date</th>
      <th>Return Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each txns}}
    <tr>
      <td>{{this.item_name}}</td>
      <td>{{this.lenderName}}</td>
      <td>{{this.borrowerName}}</td>
      <td>{{formatDate this.borrow_date}}</td>
      <td>{{formatDate this.due_date}}</td>
      <td>
        {{#if this.return_date}}
          {{formatDate this.return_date}}
        {{else}}
          Not Returned
        {{/if}}
      </td>
      <td>
        {{#unless this.return_date}}
        <form action="/transactions/{{this.txn_id}}/return" method="post">
          <button type="submit" class="btn small">Mark Returned</button>
        </form>
        {{/unless}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>No transactions found.</p>
{{/if}}
